.header__lang{
	font-size: 1.5rem;
    line-height: 0.95;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s ease;
}
.header__lang:hover{
    opacity: .7;
}
@media (max-width: 767px) {
    .header__lang{
        font-size: 1.125rem;
        line-height: 0.96;
    }
}
