@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
.lead{
    max-width: calc(100vw - 228px * 2);
    display: grid;
    margin: 60px auto 80px;
    position: relative;
    overflow: hidden;
}
@media (max-width: 1439px) {
    .lead{
        max-width: calc(100vw - 148px * 2);
    }
}
@media (max-width: 1279px) {
    .lead{
        max-width: calc(100vw - 48px * 2);
    }
}
@media (max-width: 1023px) {
    .lead{
        max-width: 100vw;
    }
}
@media (max-width: 767px) {
    .lead{
        margin: 48px auto 64px;
    }
}