.cover__subtitle{
    width: 382px;
    font-size: 1.125rem;
    line-height: 1.4;
    text-align: center;
    grid-row: 3/4;
    margin: 0 auto 48px;
    justify-self: center;
    align-self: end;
    z-index: 1;
}
@media (max-width: 767px) {
    .cover__subtitle {
      font-size: 0.875rem;
      line-height: 1.0625;
      width: 343px;
      margin: 0 auto 24px;
    }
}
@media (max-width: 767px) {
    .cover__subtitle {
      width: 288px;
      
    }
}
