.footer__link{
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 0.95;
	color: #FFFFFF;
	transition: 0.5s ease;
	text-decoration: none;
	margin-right: 18px;
}
.footer__link:hover{
	opacity: .7;
}
@media (max-width: 1023px) {
    .footer__link{
        font-size: 1rem;
    }
}
@media (max-width: 767px) {
	.footer__link{
		font-size: 1.5rem;
		line-height: 2;		
    }
}