.lead__title{
    max-width: 720px;
    font-size: 6rem;
    line-height: 0.9865;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    justify-self: center;
    align-self: center;
    margin: 0;
}
@media screen and (max-width: 480px) {
    .lead__title {
        font-size: 2.5rem;
        line-height: 1.1;
    }
}
