.video__duration{
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.08;
    letter-spacing: 0.3em;
    position: relative;
    left: 30px;
    top: 124px;
    color: #FFFFFF;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    z-index: 1;
}
@media screen and (max-width: 1279px) {
    .video__duration{
        top: 84px;
    }
}
  @media screen and (max-width: 1023px) {
    .video__duration{
        top: 63px;
    }    
}