.place__paragraph{
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 1em;
    line-height: 1.7;
    justify-self: start;
    align-self: start;
    margin-block-start: 0;
    margin-block-end: 0;
}
.place__paragraph:last-of-type{
    grid-row: 4/5;
    grid-column: 2/3;
}