.video__item_kamchatka{
    background-image: url(../../images/kamchatka.png);
    border-radius: 5px;
    background-size: cover;
    position: relative;
    transition: 0.5s ease;
}
.video__item_kamchatka:hover .video__overlay{
	background-color: rgba(0, 0, 0, .7);
    transition: 0.5s ease;
}