@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
.cover{
    max-width: 82.2vw;
    margin: 100px auto 0;
}
@media (max-width: 1439px) {
    .cover{
        max-width: 92.5vw;
    }
}
@media (max-width: 1279px) {
    .cover{
        max-width: 100vw;
    }
}