.video__subtitle{
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.07;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    left: 30px;
    top: 150px;
    margin: 0;
    z-index: 1;
}