.video__subtitle{
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.07;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    left: 30px;
    top: 150px;
    margin: 0;
    z-index: 1;
}
@media screen and (max-width: 1279px) {
    .video__subtitle{
        top: 117px;
    }
}
@media screen and (max-width: 1023px) {
    .video__subtitle{
        left: 24px;
        top: 85px;        
    }
}