.footer__list{
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(5, auto);
}

@media (max-width: 767px) {
    .footer__list{
    	display: flex;
    	flex-direction: column;
    	justify-content: evenly;
    }
}