@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
.place{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 4rem auto 1fr;
    grid-gap: 40px 40px;
    max-width: 68vw;
    margin: 50px auto;
    position: relative;
}
@media (max-width: 1280px) {
    .place{
        max-width: 76.8vw;
    }
}
@media (max-width: 1024px) {
    .place{
        max-width: calc(100vw - 48px * 2);
    }
}
@media (max-width: 900px) {
    .place{
        max-width: calc(100vw - 24px * 2);
        grid-gap: 28px 28px;
    }
}
@media (max-width: 700px) {
    .place{
        max-width: 100vw;
        display: flex;
        flex-direction: column;
    }
}