.place__url{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1em;
    line-height: 1.7;
    text-decoration-line: underline;
    color: #FFFFFF;
    justify-self: start;
    align-self: end;
    transition: 0.5s ease;
}
.place__url:hover{
	opacity: .7;
}
@media (max-width: 900px) {
    .place__url{
        font-size: 1.125rem;
        line-height: 1.66;
    }
}
@media (max-width: 700px) {
    .place__url{
        display: none;
    }
}