.video__container{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    max-width: 82.2vw;
    margin: 0 auto;
    overflow: hidden;
}
@media (max-width: 1439px) {
    .video__container{
        max-width: 92.5vw;
    }
}
@media (max-width: 767px) {
    .video__container{
      max-width: 400px;
      width: calc(100vw - 16px * 2);
      flex-direction: column;
    }
}